
.container {
    margin: 7.5rem auto 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    border: 10px solid black;
}

.parent {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.gridItem {
    background-color: blue;
    color: rgb(235, 214, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 900;
}

.gridTitle {
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 1150px){
    .container {
        width: 95%;
    }
    
}

@media only screen and (max-width: 1000px){
    .container {
        width: 95%;
    }
    .parent {
        border: 4px solid black;
        height: 485px;
    }
    .gridItem {
        height: 80px;
        font-size: 2rem;
    }
    .gridTitle {
        font-size: 1.25rem;
        height: 80px;
    }
}

@media only screen and (max-width: 800px){
    .container {
        width: 97.5%;
    }
    .parent {
        height: 425px;
    }
    .gridItem {
        height: 70px;
        font-size: 1.5rem;
    }
    .gridTitle {
        font-size: 1rem;
        height: 70px;
    }
}

@media only screen and (max-width: 650px){
    .parent {
        height: 333px;
        border: 2px solid black;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
    .gridItem {
        height: 55px;
        font-size: 1.05rem;
        border-bottom: 1px solid black;
    }
    .gridTitle {
        font-size: .75rem;
        height: 55px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 450px){
    .container {
        width: 99%;
    }
    .parent {
        height: 272px;
        border: 1px solid black;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
    .gridItem {
        height: 45px;
        font-size: .75rem;
        border-bottom: 1px solid black;
    }
    .gridTitle {
        font-size: .5rem;
        height: 45px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 350px){
    .container {
        width: 99%;
    }
    .parent {
        height: 242px;
        border: 1px solid black;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
    .gridItem {
        height: 40px;
        font-size: .5rem;
        border-bottom: 1px solid black;
        text-shadow: 1px 1px 1px black;
    }
    .gridTitle {
        font-size: .4rem;
        height: 40px;
        border-bottom: 1px solid black;
        text-shadow: 1px 1px 1px black;
    }
}