
.container {
    margin: 7.5rem auto 0 auto;
    width: 90%;
    height: auto;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.textContainer {
    border: 10px solid black;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 100%;
    height: 76vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.beginButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.beginButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.submitButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    padding: .25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.submitButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.roundTwoLink {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    letter-spacing: 2px;
}

.bidBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: .5rem auto;
    border: 1px solid gold;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.bidBoxTop {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: .5rem auto;
    border: 1px solid gold;
    background-color: black;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    letter-spacing: 2.5px;
}

.bidBox > h2, .bidBoxTop > h2 {
    width: 33%;
}

.bidBox > form {
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    width: 33%;
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .bidBox > h2:last-child, .bidBoxTop > h2:last-child {
        width: 40%;
    }
    .bidBox > form {
        display: flex;
        justify-content: space-evenly;
        align-items: center ;
        width: 40%;
    }
    .submitButton {
        padding: .25rem .5rem;
    }

    .bidBoxTop {
        width: 95%;
    }

    .bidBox {
        width: 95%;
    }

} 

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 1.5rem;
    }
    .bidBoxTop {
        font-size: .75rem;
    }
    .bidBox {
        font-size: .75rem;
    }
    .submitButton {
        font-size: .65rem;
    }
}

@media only screen and (max-width: 850px) {
    .bidBox > form {
        flex-direction: column;
        align-items: center ;
        height: 100px;
    }
    .bidBox {
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        margin: 5rem auto 0 auto;
        width: 100%;
        height: 100vh;
        background: none;
        background-color: rgba(0, 0, 0, .85);
        backdrop-filter: blur(15px);
        border-radius: 0;
    }
    .textContainer {
        border-radius: 0;
        
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 1rem;
    }
    .bidBoxTop {
        font-size: .5rem;
    }
    .bidBox {
        font-size: .5rem;
    }
    .submitButton {
        font-size: .5rem;
    }
    .wager {
        width: 75%;
    }
}

