
.container {
    z-index: 99;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 76vh;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7.5px);
}

.questionContainer {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1rem 3rem;
    width: 80%;
    border: 1px solid gold;
    line-height: 1.5;
    
}

.timer {
    color: red;
    font-weight: 600;
    display: flex;
    visibility: visible;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid red;

}

.choiceContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.list {
    list-style: none;
    display: flex;
    
    margin: 0 auto;
    
}

.list > li {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 600;
    
}

.list > li:hover {
    // border: 1px solid gold;
    color: gold;
    cursor: pointer;

}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5rem;
}

.passContainer {
    display: flex;
    justify-content: flex-start;
}

.playContainer {
    display: flex;
    justify-content: flex-end;
}


.passButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.passButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

.playButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.playButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

// .computerMovesContainer {
//     border: 1px solid red;
//     width: 80%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
// }