
.container {
    width: 30%;
    height: auto;
    margin: 15rem auto 0 auto;
}

.parent {
    background-color: black;
    border: 10px solid black;
    max-width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.gridItem {
    background-color: blue;
    color: rgb(235, 214, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 900;
}

.gridTitle {
    background-color: blue;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}