
.container {
    margin: 7.5rem auto 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: blue;
    border: 10px solid black;
}

.parent {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.gridItem {
    background-color: blue;
    color: rgb(235, 214, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 900;
}

.gridTitle {
    background-color: blue;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

