
.container {
    margin: 5rem auto 0 auto;
    width: 90%;
    height: auto;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.textContainer {
    border: 10px solid black;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 100%;
    height: 76vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bidBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: .5rem auto;
    border: 1px solid gold;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.bidBoxTop {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: .5rem auto;
    border: 1px solid gold;
    background-color: black;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    letter-spacing: 2.5px;
}

.bidBoxTop > h2 {
    padding: 0 2rem;
    text-align: center;
}

.bidBox > h2 {
    width: 33%;
}

.bidBox > form {
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    width: 33%;
}

.endLink {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.endButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.endButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
}