
.container {
    margin: 7.5rem auto 0 auto;
    width: 90%;
    height: auto;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.textContainer {
    border: 10px solid black;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 100%;
    height: 76vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textWord {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
    line-height: 1.5;
}

.beginButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.beginButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.roundTwoLink {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
    
}

@media only screen and (max-height: 650px) and (orientation : landscape) {
    .container {
        margin: 3.5rem auto 0 auto; 
    }

    .textContainer {
        border: 5px solid black;
    }

    .textWord {
        font-size: 1rem;
    }

    .beginButton {
        font-size: .75rem;
        margin-top: 1rem;
        width: 80px;
        height: 25px;
    }
}