

.container {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    

}

.title {
    margin-right: 2.5rem;
}

.username {
    margin-left: 2.5rem;
}