
.container {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.playerContainer {
    display: flex;
    flex-direction: row;
    width: auto;
}

.playerTile {
    width: auto;
    display: flex;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    border: 4px solid black;
    padding: .75rem;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

.playerMove {
    width: 100px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-weight: 600;
    margin-left: 1.5rem;
}

.username {
    color: white;
}


@media only screen and (max-width: 1150px){
    .title {
       display: none;
    }  
}

@media only screen and (max-width: 1000px){
    .playerTile {
        font-size: .95rem;
    }
    .playerMove {
        font-size: .95rem;
        width: auto;
    }
}

@media only screen and (max-width: 750px){
    .container {
        height: 6rem;
    }
    .playerTile {
        font-size: .75rem;
        margin: 1rem auto 0 auto;
    }
    .playerMove {
        font-size: .75rem;
        width: auto;
        margin: .5rem auto;
    }

    .playerContainer {
        flex-direction: column;
        height: 80%;
    }
    .score {
        margin-left: .5rem;
    }
}

@media only screen and (max-width: 500px){
    .container {
        justify-content: space-evenly;
        height: 7rem;
    }

    .title {
        display: none;
    }
    .score {
        margin-left: .25rem;
    }
}

@media only screen and (max-width: 450px){
    .container {
        height: 6rem;
    }
    .playerTile {
        font-size: .5rem;
    }
    .playerMove {
        font-size: .5rem;
    }
}

@media only screen and (max-width: 300px){
    .playerTile {
        font-size: .4rem;
    }
    .playerMove {
        font-size: .4rem;
    }
}

@media only screen and (max-height: 650px) and (orientation : landscape) {
    .container {
        height: 2.5rem;
        flex-direction: row;
    }

    .playerContainer {
        width: 33%;
        flex-direction: row;
        justify-content: space-around;
    }
    .playerTile {
        align-items: center;
        font-size: .75rem;
        padding: .5rem;
        margin: 0 auto 0 auto;
        text-shadow: 1px 1px 1px black;
    }

    .score {
        margin-left: .5rem;
    }

    .playerMove {
        font-size: .5rem;
        margin: 0 auto 0 auto;
    }
}