

.container {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;

}

.title {
    // margin-right: 2.5rem;
}

.playerContainer {
    display: flex;
    flex-direction: row;
    width: auto;
}

.playerTile {
    width: auto;
    display: flex;
    // justify-content: space-evenly;
    background-color: rgb(0, 0, 255);
    border: 4px solid black;
    padding: .75rem;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
    border: 1px solid red;
}

.playerMove {
    width: 100px;
    margin-left: 1rem;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}



.score {
    font-weight: 600;
    margin-left: 1.5rem;
}