
.container {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.playerContainer {
    display: flex;
    flex-direction: row;
    width: auto;
}

.playerTile {
    width: auto;
    display: flex;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    border: 4px solid black;
    padding: .75rem;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

.playerMove {
    width: 100px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-weight: 600;
    margin-left: 1.5rem;
}