
.container {
    border: 1px solid red;
    z-index: 99;
    position: relative;
    bottom: 0;
    height: 200px;
    width: 50%;
    margin: -7.5rem auto 0 auto;
    background-color: black;
    color: white;
}