
.container {
    z-index: 99;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 620px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7.5px);
}

.questionContainer {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1rem 3rem;
    width: 80%;
    border: 1px solid gold;
    line-height: 1.5;
}

.timer {
    color: red;
    font-weight: 600;
    display: flex;
    visibility: visible;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.choiceContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style: none;
    display: flex;
}

.list > li {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.list > li:hover {
    color: gold;
    cursor: pointer;
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5rem;
}

.passContainer {
    display: flex;
    justify-content: flex-start;
}

.playContainer {
    display: flex;
    justify-content: flex-end;
}

.passButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.passButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

.playButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.playButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

.timeButton {
    visibility: visible;
    line-height: 2.5;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, .9);
    border: 1px solid gold;
    border-radius: 7.5px;
}

.timeButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
    
}

@media only screen and (max-width: 1150px){
    .container {
        width: 100%;
        top: 5rem;
        height: 100%;
    }
    .choiceContainer {
        width: 80%;
        text-align: center;
    }
    
}

@media only screen and (max-width: 1000px){
    .choiceContainer {
        width: 90%;
    }
    .list {
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .list > li {
        font-size: 1rem;
        margin: 1rem auto;
    } 

    .passButton {
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }
    
    .playButton {
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }

    .timeButton {
        width: 50px;
        height: 40px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px){
    .container {
        top: 6rem;
    }

    .list {
        margin-right: 10%;
    }

    .list > li {
        border: 1px solid gold;
        padding: .5rem 0;
        width: 100%;
    }

    .questionContainer {
        width: 85%;
        margin-top: 8rem;
        h2 {
            font-size: 1rem;
        }
    }

    .choiceContainer {
        width: 80%;
        margin-top: 1rem;
    }

    .timeButton {
        width: 50px;
        height: 30px;
        font-size: .75rem;
    }

    .buttonContainer {
        width: 85%;
        top: 3rem;
    }

    .passButton, .playButton {
        width: 75px;
        height: 30px;
        font-size: .9rem;
    }
    
}

@media only screen and (max-width: 500px) {

    .container {
        top: 6rem;
    }

    .list > li {
        font-size: .75rem;
        width: 100%;
        margin: .5rem auto;
    } 
}

@media only screen and (max-width: 375px) {

    .container {
        top: 6rem;
    }

    .buttonContainer {
        top: 1rem;
    }

    .questionContainer {
        margin-top: 5rem;
        padding: 1rem;
        h2 {
            font-size: .85rem;
        }
    }

    .timeButton {
        width: 30px;
        height: 25px;
        font-size: .65rem;
        line-height: 2;
    }

    .buttonContainer {
        width: 85%;
        
    }

    .passButton, .playButton {
        width: 50px;
        height: 25px;
        font-size: .75rem;
    }
}

@media only screen and (max-width: 325px) {
    .questionContainer {
        margin-top: 5rem;
        h2 {
            font-size: .65rem;
        }
    }
    .passButton, .playButton {
        width: 50px;
        height: 20px;
        font-size: .65rem;
    }
    .timeButton {
        width: 30px;
        height: 20px;
        font-size: .5rem;
        line-height: 2;
    }
    
}

@media only screen and (max-height: 650px) and (orientation : landscape) {
    .container {
        top: 2.5rem;
    }
    .buttonContainer {
        top: 2rem;
    }

    .passButton, .playButton {
        width: 55px;
        height: 20px;
        font-size: .65rem;
    }
    .timeButton {
        width: 45px;
        height: 20px;
        font-size: .65rem;
        line-height: 1.75;
    }

    .questionContainer {
        width: auto;
        margin-top: 5rem;
        padding: .5rem;
        h2 {
            font-size: .65rem;
        }
    }

    .list {
        width: 100%;
        
    }

    .list > li {
        padding: .5rem;
        width: auto;
        font-size: .5rem;
        border: none;
        border: 1px solid gold;
    }
}


