
.container {
    z-index: 99;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 75vh;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7.5px);
}

.questionContainer {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    text-align: left;
    padding: 1rem 3rem;
    width: 80%;
    
}

.choiceContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    
    
}

.list {
    list-style: none;
    display: flex;
}

.list > li {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.list > li:hover {
    // border: 1px solid gold;
    color: gray;
    cursor: pointer;

}