
.container {
    z-index: 99;
    position: relative;
    bottom: 0;
    min-height: 225px;
    width: 100%;
    margin: -8.5rem auto 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.questionContainer {
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 1rem 3rem;
    
}

.choiceContainer {
    // border: 1px solid red;
    
}

.list {
    // border: 1px solid green;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.list > li {
    // border: 1px solid gold;
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
}

.list > li:hover {
    // border: 1px solid gold;
    color: gray;
    cursor: pointer;

}