
.container {
    z-index: 99;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 620px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7.5px);
}

.questionContainer {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1rem 3rem;
    width: 80%;
    border: 1px solid gold;
    line-height: 1.5;
}

.timer {
    color: red;
    font-weight: 600;
    display: flex;
    visibility: visible;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.choiceContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style: none;
    display: flex;
}

.list > li {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.list > li:hover {
    color: gold;
    cursor: pointer;
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5rem;
}

.passContainer {
    display: flex;
    justify-content: flex-start;
}

.playContainer {
    display: flex;
    justify-content: flex-end;
}

.passButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.passButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

.playButton {
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    background-color: gold;
    border: none;
    border-radius: 7.5px;
}

.playButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

.timeButton {
    visibility: visible;
    line-height: 2.5;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, .9);
    border: 1px solid gold;
    border-radius: 7.5px;
}

.timeButton:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, .8);
}

@media only screen and (max-width: 1150px){
    .container {
        width: 95%;
    }
    
}

@media only screen and (max-width: 1000px){
    .container {
        width: 95%;
        top: 7rem;
    }
    
}

@media only screen and (max-width: 800px){
    .container {
        top: 6rem;
        width: 97.5%;
        height: 85vh;
    }

    .questionContainer {
        width: 90%;
        h2 {
            font-size: 1.25rem;
        }
    }

    .choiceContainer {
        width: 90%;
        border: 1px solid green;

    }

    .list {
        border: 1px solid red;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .list > li {
        font-size: 1rem;
        text-align: center;
        border: 1px solid orange;
        margin: 1rem auto;
        
    }

    .buttonContainer {
        width: 90%;
    }

    .passButton, .playButton {
        width: 100px;
        font-size: 1rem;
    }
    
}
