

.container {
    width: 75%;
    height: 75vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .95);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    
    
}

.textContainer {
    border: 1px solid red;
    width: 400px;
    height: auto;
    padding-top: 10rem;
    margin: 0 auto;
    
    
   

}