
.container {
    margin: 7.5rem auto 0 auto;
    width: 90%;
    height: auto;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.textContainer {
    border: 10px solid black;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 100%;
    height: 76vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.beginButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.beginButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.roundTwoLink {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
    
}

@media only screen and (max-width: 500px) {
    .textContainer {
        h1 {
        font-size: 1.5rem;
        } 
        h2 {
            font-size: 1.25rem;
        }
    } 
}

@media only screen and (max-width: 375px) {
    .textContainer {
        h1 {
        font-size: 1.25rem;
        } 
        h2 {
            font-size: 1.05rem;
        }
    }
    .beginButton {
        font-size: .75rem;
        width: 80px;
    }
}

@media only screen and (max-width: 300px) {
    .textContainer {
        h1 {
        font-size: 1rem;
        } 
        h2 {
            font-size: .75rem;
        }
    }
    .beginButton {
        font-size: .55rem;
        width: 70px;
        height: 20px;
    }
}

@media only screen and (max-height: 650px) and (orientation : landscape) {
    .container {
        margin: 3.5rem auto 0 auto; 
    }

    .textContainer {
        height: 80vh;
        h1 {
        font-size: 1.25rem;
        } 
        h2 {
            font-size: .9rem;
        }
    }

    .beginButton {
        font-size: .65rem;
        margin-top: .75rem;
        width: 80px;
        height: 20px;
    }
}

@media only screen and (max-height: 350px) and (orientation : landscape) {
    .container {
        margin: 0 auto 0 auto; 
    }

    .textContainer {
        height: 80vh;
        h1 {
        font-size: .9rem;
        } 
        h2 {
            font-size: .65rem;
        }
    }

    .beginButton {
        font-size: .5rem;
        margin-top: .75rem;
        width: 60px;
        height: 20px;
    }
}