
.container {
    width: 90%;
    height: auto;
    margin: 7.5rem auto 0 auto;
}

.parent {
    background-color: black;
    border: 10px solid black;
    max-width: 100%;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.gridItem {
    background-color: rgba(0, 0, 255, .75);
    color: rgb(235, 214, 94);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 900;
    border-bottom: 2px solid black;
}

.gridItem:hover {
    cursor: pointer;
}

.gridTitle {
    background-color: rgba(0, 0, 255, .75);
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

