
.container {
    width: 90%;
    height: auto;
    margin: 7.5rem auto 0 auto;
}

.parent {
    background-color: black;
    border: 10px solid black;
    max-width: 100%;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.gridItem {
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: rgb(235, 214, 94);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;
    font-weight: 900;
    border-bottom: 2px solid black;
}

.gridItem:hover {
    cursor: pointer;
}

.gridTitle {
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
    
}

@media only screen and (max-width: 1150px){
    .container {
        width: 95%;
    }
    
}

@media only screen and (max-width: 1000px){
    .container {
        width: 95%;
    }
    .parent {
        border: 4px solid black;
        height: 485px;
    }
    .gridItem {
        height: 80px;
        font-size: 2rem;
    }
    .gridTitle {
        font-size: 1.25rem;
        height: 80px;
    }
}

@media only screen and (max-width: 800px){
    .container {
        width: 97.5%;
    }
    .parent {
        height: 425px;
    }
    .gridItem {
        height: 70px;
        font-size: 1.5rem;
    }
    .gridTitle {
        font-size: 1rem;
        height: 70px;
    }
}

@media only screen and (max-width: 650px){
    .parent {
        height: 333px;
        border: 2px solid black;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
    .gridItem {
        height: 55px;
        font-size: 1.05rem;
        border-bottom: 1px solid black;
    }
    .gridTitle {
        font-size: .75rem;
        height: 55px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 450px){
    .container {
        width: 99%;
    }
    .parent {
        height: 272px;
        border: 1px solid black;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
    .gridItem {
        height: 45px;
        font-size: .75rem;
        border-bottom: 1px solid black;
    }
    .gridTitle {
        font-size: .5rem;
        height: 45px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 350px){
    .container {
        width: 99%;
    }
    .parent {
        height: 242px;
        border: 1px solid black;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
    .gridItem {
        height: 40px;
        font-size: .5rem;
        border-bottom: 1px solid black;
        text-shadow: 1px 1px 1px black;
    }
    .gridTitle {
        font-size: .4rem;
        height: 40px;
        border-bottom: 1px solid black;
        text-shadow: 1px 1px 1px black;
    }
}

@media only screen and (max-height: 650px) and (orientation : landscape) {
    .container {
        width: 99%;
        margin: 3rem auto 0 auto;
    }

    .parent {
        height: 305px;
    }
    .gridTitle {
        height: 50px;
        font-size: .75rem;
    }

    .gridItem {
        font-size: .75rem;
        height: 50px;
    }
}

@media only screen and (max-height: 350px) and (orientation : landscape) {

    .parent {
        height: 90vh;
    }
    .gridTitle {
        height: 40px;
        font-size: .75rem;
    }

    .gridItem {
        font-size: .75rem;
        height: 40px;
    }
}

@media only screen and (max-height: 300px) and (orientation : landscape) {

    .parent {
        height: 90vh;
    }
    .gridTitle {
        height: 35px;
        font-size: .65rem;
    }

    .gridItem {
        font-size: .65rem;
        height: 35px;
    }
}