
.container {
    margin: 7.5rem auto 0 auto;
    width: 50%;
    border-radius: 2.5rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(27,18,218,1) 34%, rgba(28,21,189,1) 68%, rgba(14,8,153,1) 95%);
    border: 10px solid rgb(0, 0, 0);
    justify-content: center;
}

.wordBox {
    text-shadow: 2px 2px 2px black;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.wordBox2 {
    text-shadow: 2px 2px 2px black;
    width: 70%;
    line-height: 1.5;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.usernames {
    color: gold;
}

.inputBox {
    text-shadow: 1px 1px 1px black;
    width: 100%;
    height: auto;
    margin:0 auto;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.input { 
   display: flex;
   margin: 1rem auto;
}

.inputContainer {
    display: flex;
    align-items: center;
    height: 80px;
     color: white;
}

.roundOneLink {
    width: 100%;
    height: 75vh;
    margin:0 auto;
    padding-top: 2rem;
    text-align: center;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.playButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    width: 100px;
    height: 30px;
    box-shadow:  1.5px 1.5px 1.5px black;
}

.playButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.startButton {
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    box-shadow:  .5px .5px .5px black;
}

.startButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

.beginButton {
    text-shadow: none;
    color: black;
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow:  .5px .5px .5px black;
}

.beginButton:hover {
    filter: brightness(.85);
    cursor: pointer;
}

@media only screen and (max-width: 1150px){
    .container {
        width: 75%;
    }
}

@media only screen and (max-width: 500px){
    .container {
        width: 90%;
    }
    .wordBox {
        width: 90%;
        font-size: .75rem;
    }
    .wordBox2 {
        width: 90%;
        font-size: .75rem;
    }
}